@import "fumadocs-ui/css/style.css";

:root {
  color-scheme: light dark;
}

html,
body {
  min-height: 100%;
}

html {
  background: var(--fd-background);
}

body {
  margin: 0;
  background: var(--fd-background);
  color: var(--fd-foreground);
}
